<div class="slider dark:bg-slate-500 " >
  <label for="darkModeCheckbox" tabindex="0">
    <input type="checkbox" class="checkbox-round " />

    <div class="pizza" >
      <div class="inner dark:bg-yellow-600" >
      </div>
    </div>
  </label>
  <div>

    <img src="./assets/svg/sun.svg"
     alt="sun logo" id="sun-logo"
     class="none absolute right-0 h-full">
     <img src="./assets/svg/moon.svg"
     alt="moon logo" id="moon-logo"
     class="none absolute left-0 h-full">
  </div>
</div>
