<div id="flyout-menu" class="overflow-x-hidden">
<section class="flex flex-row-reverse">
  <div
    id="hamburgerIcon"
    class="[&>*]:m-2  [&>*]:bg-red-500"
  >
    <div id="br1">🥄</div>
    <div id="br2">🥄</div>
    <div id="br3">🥄</div>
  </div>
</section>
<nav id="navbar" class="flex flex-row-reverse ">
  <ul id="menu-items" class="hidden">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Menu</a></li>
    <li><a href="#">Contact</a></li>
  
  </ul>
</nav>

<div class="menu-bg"></div>
</div>
