<div id="navbar" class="fixed left-0 top-0 z-50 w-full">
  <div class="flex justify-between py-2" >
    <h1 class="mr-2 flex items-center text-4xl font-semibold">Cicero Pizza</h1>
    <include src="src/components/static-menu.html"></include>
    <include src="src/components/flyout-menu.html"></include>
  </div>
  <nav id="flyout-navbar" class="flex flex-row-reverse">
    <div id="flyout-menu-logo">
      <img src="assets/svg/slicePizza.svg" alt="a slice pizza" />
    </div>
    <ul id="flyout-menu-items">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="menu-bg"></div>
</div>

 