@tailwind components;
@tailwind utilities;

@layer components {
  #contact {
    background-image: url("https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_1280.jpg");
    background-size: cover;
    background-position: calc(30% + 10px);
    position: relative;
    .columns {
      margin: 5rem auto;
      width: min(90%, 75rem);
      display: grid;
      grid-auto-flow: row;
      gap: 2em;
    }
   #response-form-dialog {
    display: none;
   }
   #response-form-dialog  div:has(svg){
    background-color: red;
  }
    @media (min-width: 55em) {
      .columns {
        grid-auto-flow: column;
        /* didn't mention this during the video
           but it ensures equal columns  */
        /*     grid-auto-columns: 1fr; */
      }
    }
  }
}

@layer utilities {
}
