:root {
  --cheese: #ffd72c;
  --crust: #ffb10b;
  --sauce: #f9565b;
  --roni: #dc453f;
  --bg: #f5f4e2;
  --black: #676550;
  --t: transparent;
  --sausage: #b0926d;
  --pineapple: #ffffa2;
  --pepper: #4cad7b;
}

.slider {
  position: relative;
  width: 102px;
  height: 50px;
  background-color: var(--pineapple);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

input[type="checkbox"].checkbox-round {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 100%;
  vertical-align: middle;
  border: 1px solid #dfd324;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 100%;
  transition: 0.2s ease-in-out;
  z-index: 999;
}

.pizza {
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--black);
  transition: 0.2s ease-in-out;
}

.pizza .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/svg/slicePizza.svg");
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1px #ffb10b;
  border-radius: 100%;
}

.checkbox-round:checked ~ .pizza > * {
  animation: darkModeOn 0.5s ease-in-out forwards;
}

@keyframes darkModeOn {
  100% {
    transform: translateX(50px);
  }
}
.slider:has(input[type="checkbox"].checkbox-round:checked){
  background-color: var(--black);
}
.slider:has(input[type="checkbox"].checkbox-round) {
  #sun-logo {
    display: block;
  }

  #moon-logo {
    display: none;
  }
}

.slider:has(input[type="checkbox"].checkbox-round:checked) {
  #sun-logo {
    display: none;
  }

  #moon-logo {
    display: block;
  }
}
