@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #hero {
    .pizza-base {
      height: 100vh;
      background: url("../assets/images/hero/pizza-dough-on-tray.webp");
      background-size: cover;
      background-position: center;
    }

    @media screen and (max-width: 480px) {
      .pizza-base {
        background-color: lightcoral;
        background-repeat: no-repeat;
        background-position: 25% 75%;
      }
    }
  }
}
