@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
    .sauce-svg {
        position: absolute;
        top: 58%;
        left: 48%;
        transform: translate(-50%, -50%);
        height: calc(100vh - 8rem);
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow-x: hidden;
      }
  
      .sauce-animation {
        fill: none;
        stroke: #950202; /* Tomato Red */ /* Adjust color as desired */
        stroke-width: 350; /* Increase thickness as needed */
        stroke-dasharray: 50000; /* Length of the path, adjust based on the path length */
        stroke-dashoffset: 50000;
        animation: sauce-path 1.5s ease-in-out 0.5s forwards;
      }
  
}