@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #hero {
    .slices-svg {
      /* opacity:0; */
      height: 76.5%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      top: 57%;
      left: 48.9%;
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 3;
    }
    .animated-line {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: draw-slices 1s ease-in-out forwards;
    }

    .vertical-slice {
      animation-delay: 8.5s;
    }

    .horizontal-slice {
      animation-delay: 9.5s;
    }

    .reverse-diagonal-slice {
      animation-delay: 10.5s;
    }

    .diagonal-slice {
      animation-delay: 11.5s;
    }

    .pizza-cutter {
      transform: translate(-35px, -47px);
    }

    .pizza-cutter-group {
      opacity: 0;
      animation:
        move-cutter-vertical 1s ease-in-out 8.5s forwards,
        move-cutter-horizontal 1s ease-in-out 9.5s forwards,
        move-cutter-reverse-diagonal 1s ease-in-out 10.5s forwards,
        move-cutter-diagonal 1s ease-in-out 11.5s forwards;
    }

    @media screen and (max-width: 480px) {
      .slices-svg {
        height: 61%;
      }

      .slices-svg {
        transform: translateX(-4%) translateY(-50%) translateZ(0);
      }
    }
  }
}

@layer utilities {
  @keyframes draw-slices {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes move-cutter-horizontal {
    0% {
      offset-distance: 0%;
      offset-path: path("M 0 100 L 0 -100");
    }
    100% {
      opacity: 1;
      offset-distance: 100%;
      offset-path: path("M 0 100 L 0 -100");
    }
  }

  @keyframes move-cutter-vertical {
    0% {
      offset-distance: 0%;
      offset-path: path("M 100 0 L -100 0");
    }
    100% {
      offset-distance: 100%;
      offset-path: path("M 100 0 L -100 0");
    }
  }

  @keyframes move-cutter-reverse-diagonal {
    0% {
      offset-distance: 0%;
      offset-path: path(
        "M -70.71067811865475 70.71067811865475 L 70.71067811865475 -70.71067811865475"
      );
    }
    100% {
      offset-distance: 100%;
      offset-path: path(
        "M -70.71067811865475 70.71067811865475 L 70.71067811865475 -70.71067811865475"
      );
    }
  }

  @keyframes move-cutter-diagonal {
    0% {
      offset-distance: 0%;
      offset-path: path(
        "M -70.71067811865475 -70.71067811865475 L 70.71067811865475 70.71067811865475"
      );
    }
    100% {
      opacity: 0;
      offset-distance: 100%;
      offset-path: path(
        "M -70.71067811865475 -70.71067811865475 L 70.71067811865475 70.71067811865475"
      );
    }
  }
}
