@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .animation-tomatoes {
    opacity: 0;
    animation: show-tomatoes 1s ease-in-out forwards;
  }

  .tomato-at-slice-1 {
    transform: translate(20px, -100px);
    animation-delay: 2s;
  }

  .tomato-at-slice-2 {
    transform: translate(20px, -148px);
    animation-delay: 2.25s;
  }

  .tomato-at-slice-3 {
    transform: translate(-26px, -140px);
    animation-delay: 2.5s;
  }

  .tomato-at-slice-4 {
    transform: translate(-68px, -118px);
    animation-delay: 3s;
  }

  .tomato-at-slice-5 {
    transform: translate(-49px, -80px);
    animation-delay: 3.25s;
  }

  .tomato-at-slice-6 {
    transform: translate(-25px, -50px);
    animation-delay: 3.5s;
  }
}

@layer utilities {
  @keyframes toppings-tomato-slice-1 {
    100% {
      opacity: 1;
      transform: translate(20px, -100px);
    }
  }
  @keyframes toppings-tomato-slice-2 {
    100% {
      opacity: 1;
      transform: translate(16px, -160px);
    }
  }

  @keyframes toppings-tomato-slice-3 {
    100% {
      opacity: 1;
      transform: translate(-32px, -152px);
    }
  }

  @keyframes toppings-tomato-slice-4 {
    100% {
      opacity: 1;
      transform: translate(-77px, -130px);
    }
  }

  @keyframes toppings-tomato-slice-5 {
    100% {
      opacity: 1;
      transform: translate(-55px, -92px);
    }
  }

  @keyframes toppings-tomato-slice-6 {
    100% {
      opacity: 1;
      transform: translate(-33px, -60px);
    }
  }

  @keyframes show-tomatoes {
    100% {
      opacity: 1;
    }
  }
}
