@import './css/base.css';

.wrapper {
    display: grid;
    place-items: center; 
    min-height: 100vh;
    h1 {
        color: red;
        border: 1px solid blue;
        width: 50%;
    }
}


p  {
    font-size: 30px;
    + h2 {
        
        color: red
    }
}