@import './css/base.css';

.wrapper {
    display: grid;
    place-items: center; 
    min-height: 100vh;
    h1 {
        color: red;
        border: 1px solid blue;
        width: 50%;
    }
}


p  {
    font-size: 30px;
    + h2 {        
        color: red
    }
}

section {
    @apply border-b border-b-red-400
     px-1 pb-5 pt-2;
    .section-header {
      @apply text-center block text-2xl
       font-bold text-red-500 dark:text-red-50
    }
  }